body {
  background-color: #bab6c1;
  font-family: sans-serif;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color:blueviolet;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(66, 66, 99, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 2px;
  border-bottom: 2px dashed rgba(128, 129, 141, 0.2);
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}